.Time {
  width: 18rem;
}

.Time h1,
.Time h2,
.Time h3,
.Time h4,
.Time h5,
.Time h6 {
  padding: 0;
  margin: 0;
}

.Time h1 {
  line-height: 1;
}

.Time h6 {
  color: #777777;
}

.TimezoneCode.TimezoneCode {
  margin-left: 20px;
}
